<h1 style="margin-top: 2rem; margin-bottom: 1.5rem; font-weight: 500;">What you will learn with us</h1>
<ul style="margin-bottom: 2rem;">
    <li style="--accent-color:#1286A8">
        <div class="icon"><i class="fa fa-html5" aria-hidden="true"></i></div>
        <div class="title">HTML 5</div>
    </li>
    <li style="--accent-color:#D2B53B">
        <div class="icon"><i class="fa fa-css3" aria-hidden="true"></i></div>
        <div class="title">CSS 3</div>
    </li>
    <li style="--accent-color:#DA611E">
        <div class="icon"><i class="fa fa-code" aria-hidden="true"></i></div>
        <div class="title">Javascript</div>
    </li>
    <li style="--accent-color:#AC2A1A">
        <div class="icon"><i class="fa fa-github" aria-hidden="true"></i></div>
        <div class="title">Github</div>
    </li>
    <li style="--accent-color:#0B374D">
        <div class="icon"><i class="fa fa-free-code-camp" aria-hidden="true"></i></div>
        <div class="title">Free Code Camp</div>
    </li>
</ul>
<div class="banner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="part1">
                <h2>Learn to program anywhere, anytime.</h2>
                <h2>Start your journey with free programming courses.</h2>
            </div>
            <div class="part2">
                <a routerLink="/contact">Contact us&nbsp;&nbsp; <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="carousel">
      <input type="radio" name="slide" id="indicator1" checked />
      <input type="radio" name="slide" id="indicator2" />
      <input type="radio" name="slide" id="indicator3" />
      <input type="radio" name="slide" id="indicator4" />
      <div class="carousel-inner">
        <div class="carousel-item">
          <div class="carousel-caption">
            <img src="../../../assets/portrait_1.jpg" />
            <h2>
              jessica brown <span class="job-title">- Web developer</span>
            </h2>
            <p>
                I am very pleased with their service and their teaching quality. They are very helpful. I am very grateful to them and I am overwhelmed. Best of luck to JeTop.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <img src="../../../assets/portrait_2.jpg" />
            <h2>
              william robinson <span class="job-title">- web designer</span>
            </h2>
            <p>
                I have finished Polito this year. Thanks to JeTop I finally got a job. I'm ever grateful them. I hope they will continue supporting other students too. 
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <img src="../../../assets/portrait_3.jpg" />
            <h2>
              ava smith <span class="job-title">- app magazine editor</span>
            </h2>
            <p>
                I'm glad with JeTop Study Service; they help me to study Programming at top level.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <img src="../../../assets/portrait_4.jpg" />
            <h2>
              alexandra smith
              <span class="job-title">- marketing manager</span>
            </h2>
            <p>
                JeTop was incredibly helpful in the processing of my applications. All steps were duly followed and i had no problems including successfully applying and getting my study courses. I highly recommended this Organization.
            </p>
          </div>
        </div>
      </div>
      <div class="indicators">
        <label for="indicator1"></label>
        <label for="indicator2"></label>
        <label for="indicator3"></label>
        <label for="indicator4"></label>
      </div>
    </div>
</div>