*:focus {
  outline: 0;
}

.wrapper {
  margin: 2rem auto 0;
  width: 70%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  margin: 0;
}

form * {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #b13e8b, #372056);
  width: 100%;
  height: 64px;
  transition: width 333ms ease-in-out;
  text-align: center;
  color: white;
  padding: 18px 0;
}

.button {
    color: white;
    font-weight: 300;
}

form .field input[type="text"],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 19.5%;
  color: #313a3d;
}

form #msg {
  height: 64px;
  resize: none;
  transition: all 333ms ease-in-out;
  padding-top: 18px;
}
form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 166px;
}
form input[type="text"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
}
form button.submit {
  background: linear-gradient(90deg, #b13e8b, #812d65);
  -webkit-appearance: none;
  border: none;
  position: relative;
  margin: 1.5rem auto;
  display: block;
  padding: 13px 50px;
  transition: all 0.3s ease-in-out;
}
form button.submit:hover,
form button.submit:focus {
  background: #372056;  
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



.success-container{
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    position: fixed;
}
.modalbox.success {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    padding: 25px 25px 15px;
    text-align: center;
}
.modalbox.success.animate .icon {
    -webkit-animation: fall-in 0.75s;
    -moz-animation: fall-in 0.75s;
    -o-animation: fall-in 0.75s;
    animation: fall-in 0.75s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modalbox.success h1 {
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modalbox.success p {
    font-weight: 300;
}
.modalbox.success .icon {
    position: relative;
    margin: 0 auto;
    margin-top: -75px;
    background: #4caf50;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.modalbox.success .icon i {
    left: 20px;
    position: absolute;
    font-size: 4em;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.modalbox.fail .icon {
    background: orange;
}
.modalbox.fail .icon i {
    left: 38px;
}
.modalbox.success .icon span {
    top: 32px;
    right: -135px;
    position: absolute;
    font-size: 2em;
    color: red;
    text-align: center;
    padding-top: 20px;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    /* stupid browser compat. smh */
}
.center .change {
    clear: both;
    display: block;
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
}
