<header>
    <nav class="navbar container">
        <!-- <div class=""> -->
            <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                <i class="fa fa-bars"></i>
            </label>
            <a href="#" class="logo">JeTop</a>
            <input type="checkbox" id="chkToggle" />
            <ul class="main-nav" id="js-menu">
                <li>
                    <a routerLink="" class="nav-links">Home</a>
                </li>
                <li>
                    <a routerLink="contact" class="nav-links">Contact Us</a>
                </li>
            </ul>
        <!-- </div> -->
    </nav>
</header>
<router-outlet></router-outlet>

<section class="socials">
    <div class="container">
        <div>
            <ul class="socIcons">
                <h4>Get connected with us on social networks!</h4>
                <li class="nav-mine nav-tg">
                    <a class="nav-links" href="https://t.me/+VD3CPfkOm0xhZTVi" target="_blank"><i class="fa fa-telegram"></i></a>
                </li>
                <li class="nav-mine nav-fb">
                    <a class="nav-links" href="https://www.facebook.com/jetop.torino" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-mine nav-ins">
                    <a class="nav-links" href="https://www.instagram.com/jetop_to" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-mine nav-tw">
                    <a class="nav-links" href="https://twitter.com/jetopteam" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>


<footer class="footer-distributed">
    <div class="container">
        <div class="footer-left">

            <h3><span>JeTop</span></h3>

            <p class="footer-links">
                <a routerLink="" class="link-1">Home</a>
                
                <a routerLink="/contact">Contact</a>
            </p>

            <p class="footer-company-name" style="color: rgba(256, 256, 256, 0.6)">JeTop © 2022</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Corso Castelfidardo 39, TO</span> 10121 Torino, Italy</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+39 347 516 57 82</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="jetop@polito.it">jetop@polito.it</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-telegram"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>

            </div>

        </div>
    </div>
</footer>